.container{
    width: 50%;
    min-height: 300px;
    margin-left: 25%;
    margin-right: 25%;
}

.form{
    width: 50%;
    min-height: 300px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: lightgreen;

}

.form span{
    margin-right: 10px;
    display: flex;
}

.form button{
    display: flex;
}